* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  text-align: center;
  background-color: rgb(83, 172, 172);
  font-family: Varela Round;
}
.continer {
  display: flex;
  height: 100%;
}
.box-l {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: 180px;
  margin-top: 30px;
}
.box-r {
  background-color: rgb(1, 16, 36);
  color: rgb(217, 215, 250);
  width: 150px;
  text-align: center;
  flex-direction: column;
  height: 100%;
  z-index: 1;
  position: absolute;
  right: 0;
}
.box-r h1 {
  margin-top: 5px;
  margin-bottom: 1.5px;
  font-size: 25px;
}
.theCard {
  background-color: rgba(2, 31, 54, 0.527);
  width: 130px;
  height: 75px;
  margin: 7.8px;
  border-radius: 15px;
}
.imgintheCard {
  background-color: rgb(230, 243, 241);
  width: 130px;
  height: 80px;
  /* /* border: 3px solid rgb(224, 202, 146); */
  /* display: inline-block; */
  border-radius: 15px;
}
.cover {
  background-color: #fff;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background-color: rgb(230, 243, 241);
  width: 220px;
  height: 140px;
  margin: 10px;
  border-radius: 15px;
  /* position: relative; */
  overflow: hidden;
}
header img {
  margin: 15px;
  height: 60px;
  width: 40px;
}
header {
  background-color: #09709f;
  display: inline-block;
  color: azure;
  font-size: 18px;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  right: 100px;
  height: 70px;
}
header a {
  color: azure;
  text-decoration: none;
  cursor: pointer;
}
header a:hover,
#hover:hover {
  color: rgb(1, 3, 8);
  font-weight: 600;
  cursor: pointer;
}
.outheader {
  position: absolute;
}
#logo {
  right: 10px;
}
#go {
  left: 10px;
}
.cover img {
  width: 220px;
  height: 140px;
  border: 1px rgb(236, 255, 252) solid;
  border-radius: 15px;
  display: none;
  animation: opac 0.3s;
  animation-name: none;
  animation-duration: 1.5s;
}
@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes example {
  0% {
    border: 2px #e6c619 solid;
  }
  20% {
    border: 2px #1b5057 solid;
  }
  60% {
    border: 2px #e6c619 solid;
  }
  80% {
    border: 2px #1b5057 solid;
  }
}
.varela-round-regular {
  font-family: "Varela Round", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.butten {
  font-size: 18px;
  padding: 3px;
  text-align: left;
  font-family: Varela Round;
  border-radius: 8px;
  border: rgba wheat 6px;
  color: rgb(7, 41, 51);
  /* text-decoration: none; */
  position: absolute;
  top: 3px;
  left: 10px;
  font-weight: bolder;
}
.butten2 {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  height: 35px;
  width: 310px;
  font-size: 26px;
  border-radius: 8px;
  border: 0px solid;
  background-color: darkcyan;
  color: azure;
  padding-right: 50px;
  padding-left: 50px;
  font-family: Varela Round;
  margin-top: -20px;
  margin-bottom: 20px;
  animation: my-anim 2s ease-in-out infinite;
  max-width: 100%;
}
@keyframes my-anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.modal,
.modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content,
.modal-content2 {
  position: relative;
  background-color: #c1e4e4;
  margin: auto;
  padding: 20px;
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 20px;
}
.modal-content2 {
  opacity: 0.7;
}
.backinmodel {
  color: rgb(7, 41, 51);
  font-size: 18px;
  font-weight: bolder;
}
#go {
  font-size: 16px;
  border-radius: 5px;
  padding: 8px;
  margin-left: 30px;
  border: rgb(1, 69, 90) 2px solid;
  color: darkcyan;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#go:hover {
  border: rgb(221, 252, 252) 2px solid;
  color: rgb(221, 252, 252);
  background-color: rgb(1, 69, 90);
}
.close {
  color: rgb(11, 10, 14);
  padding: 2px 5px;
  border-radius: 5px;
  top: 2px;
  text-align: right;
  font-size: 26px;
  position: absolute;
  right: 10px;
}

.close:hover {
  background-color: #111213;
  color: azure;
}
@media (max-width: 871px) {
  header {
    justify-content: center;
    gap: 50px;
  }
}
@media (max-width: 670px) {
  header {
    font-size: 14px;
  }
  .cover,
  .cover img {
    width: 170px;
    height: 110px;
  }
}
@media (max-width: 578px) {
  header {
    font-size: 12px;
  }
  .cover,
  .cover img {
    width: 140px;
    height: 80px;
  }
}
@media (max-width: 573px) {
  header {
    font-size: 14px;
    flex-direction: column;
    gap: 3px;
    height: 100%;
  }
  #go {
    top: 20px;
    left: 2px;
  }
  #logo {
    top: -10;
  }
  header img {
    margin-right: 10px;
  }
  header div p {
    margin-bottom: 2px;
  }
  .cover,
  .cover img {
    width: 150px;
    height: 90px;
  }
  .box-r {
    display: none;
  }
  .box-l {
    margin-right: 0px;
  }
  .butten2 {
    height: 60px;
    font-size: 22px;
  }
}
