* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  text-align: center;
  background-color: darkcyan;
  font-family: Varela Round;
}
.title {
  font-size: 44px;
  color: azure;
  margin-top: 45px;
}
.box {
  background-color: rgb(176, 226, 226);
  margin: 10px;
  margin-top: 20px;
  display: inline-block;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
}
.game-hidden {
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.game {
  display: inline-block;
  height: 260px;
  width: 260px;
  margin: 30px;
  border-radius: 12px;
}
.game:hover {
  animation: my-anim 1.5s ease-in-out infinite;
}

@keyframes my-anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
.box img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-bottom: 0px;
}
.varela-round-regular {
  font-family: "Varela Round", sans-serif;
  font-weight: 500;
  font-style: normal;
}
header {
  background-color: #09709f;
  display: flex;
  color: azure;
  font-size: 18px;
  padding: 5px;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  height: 70px;
}
header img {
  margin: 15px;
  height: 60px;
  width: 40px;
}
.outheader {
  position: absolute;
}
#logo {
  right: 10px;
}
#go {
  left: 10px;
}
#go {
  font-size: 16px;
  border-radius: 5px;
  padding: 8px;
  margin-left: 30px;
  border: rgb(1, 69, 90) 2px solid;
  color: darkcyan;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#go:hover {
  border: rgb(221, 252, 252) 2px solid;
  color: rgb(221, 252, 252);
  background-color: rgb(1, 69, 90);
}
header {
  justify-content: center;
  gap: 50px;
}
@media (max-width: 970px) {
  .game {
    height: 200px;
    width: 200px;
    margin: 15px;
  }
}
@media (max-width: 830px) {
  .game {
    height: 150px;
    width: 150px;
  }
}
@media (max-width: 600px) {
  .title {
    font-size: 34px;
  }
  .box {
    width: 95%;
    padding: 10px;
    margin: 5px;
  }
  header {
    font-size: 14px;
    flex-direction: column;
    gap: 3px;
    height: 100%;
    height: 80px;
  }
  #go {
    top: 20px;
    left: -18px;
    height: 40px;
    border: 0;
  }
  #logo {
    top: -10;
  }
  header img {
    margin-right: 10px;
  }
  header div p {
    margin-bottom: 2px;
  }
}
@media (max-width: 430px) {
  .game {
    height: 145px;
    width: 145px;
    margin: 10px;
    padding: 0;
  }
  .title {
    margin: 20px;
  }
}
